<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="TestJsonWindService.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <applicationSettings>
        <TestJsonWindService.Properties.Settings>
            <setting name="TestJsonWindService_localhostwsjson_wsjson" serializeAs="String">
                <value>https://localhost:44327/wsjson.asmx</value>
            </setting>
        </TestJsonWindService.Properties.Settings>
    </applicationSettings>
</configuration>